<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <div id="app">
        <form action="">
            <input v-model="text" type="text" name="" id="">
            <button type="submit" @click.prevent="sendMessage">Submit</button>
        </form>
        <p>
            <ul>
                <li v-for="msg of messages">{{msg}}</li>
            </ul>
        </p>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    title: "Websockets Teste",
                    text: "",
                    messages: [],
                    socket: null
                }
            },
            methods: {
                sendMessage() {
                    this.socket.emit('msgToServer', this.text)
                    this.text = ""
                },
                receiveMessage(msg) {
                    this.messages.push(msg)
                }
            },
            created() {
                this.socket = io('http://localhost:3001', { path: '/websockets' })
                this.socket.on('msgToClient', (msg) => {
                    this.receiveMessage(msg)
                })
                this.socket.on('load', (msg) => {
                    this.messages = msg
                })

                this.socket.on('comentario::salvo', (msg) => {
                    alert(msg)
                })

            },
        })
    </script>
</body>

</html>